{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
Pay your order
{% endblock %}

{% block content %}
<h1>Описание заказа</h1>
<table class="cart">
    <thead>
    <tr>
        <th>Изображение</th>
        <th>Товар</th>
        <th>Цена за единицу</th>
        <th>Количество</th>
        <th>Общая стоимость</th>
    </tr>
    </thead>

    <tbody>
    {% for item in order.items.all %}
    <tr class="row{% cycle '1' '2' %}">
        <td>
            <img src="{% if item.product.image %}{{ item.product.image.url }}
          {% else %}{% static 'img/no_image.png' %}
          {% endif %}">
        </td>
        <td>{{ item.product.name }}</td>
        <td class="num">{{ item.price }} ₽</td>
        <td class="num">{{ item.quantity }}</td>
        <td class="num"><b>{{ item.get_cost }} ₽</b></td>
    </tr>
    {% endfor %}

    {% if order.coupon %}
    <tr class="subtotal">
        <td>Итого без учёта скидки</td>
        <td colspan="3"></td>
        <td class="num">
            {{ order.get_total_cost_before_discount|floatformat:2 }} ₽
        </td>
    </tr>
    <tr>
        <td>
            Купон: {{ order.coupon.code }}
            (скидка {{ order.discount }}%)
        </td>
        <td colspan="3"></td>
        <td class="num neg">
            - {{ order.get_discount|floatformat:2 }} ₽
        </td>
    </tr>
    {% endif %}

    <tr class="total">
        <td>Итого к оплате {% if order.coupon %}(с учётом скидок){% endif %}</td>
        <td colspan="3"></td>
        <td class="num">
            {{ order.get_total_cost|floatformat:2 }} ₽
        </td>
    </tr>

    </tbody>
</table>

<form action="{% url 'payment:process' %}" method="post">
    <input type="submit" value="Оплатить">
    {% csrf_token %}
</form>

{% endblock %}